.customHome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.CDLogo {
    max-width:30vw;
    max-height:30vw;
    width: auto;
    height: auto;
}

.aButton {
    border: 0.2em solid var(--border);
    border-radius: 10vw;
    justify-content: center;
    background-color: white;
    flex-shrink: 1;
    text-decoration: none;
    box-shadow: 0 0px;
}